body{
    background: url("imgs/bg.jpg") no-repeat center center fixed; 
    color: white;
    height: 100%;
    margin: 0px;
}
.bg{
    width: 80%;
    height: 100%;
    background-color: rgb(20, 26, 20);
    margin-left: auto;
    margin-right: auto;
}
.container{
    text-align: center;
    padding: 50px;
}
img {
    width:500px
}